In [1]:
import pandas

In [3]:
url="https://raw.githubusercontent.com/sohamglobal/datasets/refs/heads/main/FitnessCustomers.csv"
df=pandas.read_csv(url)
print(df)

    CustomerID  Age  Gender  Weight  Height   BMI  ExerciseTime Smoking  \
0     CUST1000   56    Male      72     181  22.0            11      No
1     CUST1001   46  Female      75     180  23.1            69      No
2     CUST1002   32  Female      83     165  30.5            16      No
3     CUST1003   60  Female      95     181  29.0           114      No
4     CUST1004   25    Male      83     181  25.3            18      No
..         ...  ...     ...     ...     ...   ...           ...     ...
995   CUST1995   22    Male      61     154  25.7            79      No
996   CUST1996   40    Male      76     166  27.6            71      No
997   CUST1997   27  Female      89     169  31.2            96      No
998   CUST1998   61    Male      51     190  14.1           112     Yes
999   CUST1999   19    Male      62     195  16.3            11     Yes

    Alcohol  CaloriesIntake  StepsDay  FitnessGoal     Status MembershipType  \
0        No            2034     12940  Maintenance  Off Track        Premium
1        No            3216      9240  Weight Loss   On Track        Premium
2       Yes            2816     14363  Muscle Gain  Off Track        Premium
3        No            2532      6408  Weight Loss  Off Track        Premium
4       Yes            2794      4861  Muscle Gain  Off Track          Basic
..      ...             ...       ...          ...        ...            ...
995      No            2858      7957  Weight Loss  Off Track          Basic
996      No            3287      1766  Maintenance  Off Track        Premium
997     Yes            1868      3681  Muscle Gain  Off Track        Premium
998      No            3384      8710  Weight Loss  Off Track        Premium
999     Yes            3107      8482  Muscle Gain  Off Track        Premium

    Region
0     West
1     East
2    South
3     West
4    South
..     ...
995  South
996  South
997  North
998  South
999  North

[1000 rows x 15 columns]

#Retrieve data

In [5]:
print(df['CustomerID'])

0      CUST1000
1      CUST1001
2      CUST1002
3      CUST1003
4      CUST1004
         ...
995    CUST1995
996    CUST1996
997    CUST1997
998    CUST1998
999    CUST1999
Name: CustomerID, Length: 1000, dtype: object

In [6]:
print(df[['CustomerID','Age','Weight']])

    CustomerID  Age  Weight
0     CUST1000   56      72
1     CUST1001   46      75
2     CUST1002   32      83
3     CUST1003   60      95
4     CUST1004   25      83
..         ...  ...     ...
995   CUST1995   22      61
996   CUST1996   40      76
997   CUST1997   27      89
998   CUST1998   61      51
999   CUST1999   19      62

[1000 rows x 3 columns]

In [7]:
print(df.loc[3])

CustomerID           CUST1003
Age                        60
Gender                 Female
Weight                     95
Height                    181
BMI                      29.0
ExerciseTime              114
Smoking                    No
Alcohol                    No
CaloriesIntake           2532
StepsDay                 6408
FitnessGoal       Weight Loss
Status              Off Track
MembershipType        Premium
Region                   West
Name: 3, dtype: object

In [8]:
print(df.loc[2:5])

  CustomerID  Age  Gender  Weight  Height   BMI  ExerciseTime Smoking Alcohol  \
2   CUST1002   32  Female      83     165  30.5            16      No     Yes
3   CUST1003   60  Female      95     181  29.0           114      No      No
4   CUST1004   25    Male      83     181  25.3            18      No     Yes
5   CUST1005   38    Male      78     183  23.3            25      No      No

   CaloriesIntake  StepsDay  FitnessGoal     Status MembershipType Region
2            2816     14363  Muscle Gain  Off Track        Premium  South
3            2532      6408  Weight Loss  Off Track        Premium   West
4            2794      4861  Muscle Gain  Off Track          Basic  South
5            2910     14937  Muscle Gain  Off Track        Premium  South

In [12]:
print(df.loc[6,'CustomerID'])

CUST1006

In [13]:
print(df.loc[10,['CustomerID','Status']])

CustomerID     CUST1010
Status        Off Track
Name: 10, dtype: object

In [17]:
print(df.loc[6:11,('CustomerID','BMI')])

   CustomerID   BMI
6    CUST1006  20.7
7    CUST1007  26.1
8    CUST1008  31.2
9    CUST1009  22.5
10   CUST1010  25.2
11   CUST1011  31.6

#Sorting Data

In [18]:
res=df.sort_values('CustomerID')
print(res)

    CustomerID  Age  Gender  Weight  Height   BMI  ExerciseTime Smoking  \
0     CUST1000   56    Male      72     181  22.0            11      No
1     CUST1001   46  Female      75     180  23.1            69      No
2     CUST1002   32  Female      83     165  30.5            16      No
3     CUST1003   60  Female      95     181  29.0           114      No
4     CUST1004   25    Male      83     181  25.3            18      No
..         ...  ...     ...     ...     ...   ...           ...     ...
995   CUST1995   22    Male      61     154  25.7            79      No
996   CUST1996   40    Male      76     166  27.6            71      No
997   CUST1997   27  Female      89     169  31.2            96      No
998   CUST1998   61    Male      51     190  14.1           112     Yes
999   CUST1999   19    Male      62     195  16.3            11     Yes

    Alcohol  CaloriesIntake  StepsDay  FitnessGoal     Status MembershipType  \
0        No            2034     12940  Maintenance  Off Track        Premium
1        No            3216      9240  Weight Loss   On Track        Premium
2       Yes            2816     14363  Muscle Gain  Off Track        Premium
3        No            2532      6408  Weight Loss  Off Track        Premium
4       Yes            2794      4861  Muscle Gain  Off Track          Basic
..      ...             ...       ...          ...        ...            ...
995      No            2858      7957  Weight Loss  Off Track          Basic
996      No            3287      1766  Maintenance  Off Track        Premium
997     Yes            1868      3681  Muscle Gain  Off Track        Premium
998      No            3384      8710  Weight Loss  Off Track        Premium
999     Yes            3107      8482  Muscle Gain  Off Track        Premium

    Region
0     West
1     East
2    South
3     West
4    South
..     ...
995  South
996  South
997  North
998  South
999  North

[1000 rows x 15 columns]

In [19]:
res=df.sort_values('ExerciseTime')
print(res)

    CustomerID  Age  Gender  Weight  Height   BMI  ExerciseTime Smoking  \
111   CUST1111   58    Male      61     158  24.4             0     Yes
772   CUST1772   29    Male      67     167  24.0             0      No
102   CUST1102   28  Female      82     170  28.4             0     Yes
894   CUST1894   52  Female      97     153  41.4             0      No
676   CUST1676   20  Female      62     151  27.2             0      No
..         ...  ...     ...     ...     ...   ...           ...     ...
458   CUST1458   31    Male      95     180  29.3           119     Yes
671   CUST1671   58  Female      57     161  22.0           119      No
793   CUST1793   47    Male      70     178  22.1           119      No
281   CUST1281   25    Male      94     199  23.7           119      No
222   CUST1222   34    Male      73     175  23.8           119     Yes

    Alcohol  CaloriesIntake  StepsDay  FitnessGoal     Status MembershipType  \
111      No            1585      3824  Muscle Gain  Off Track        Premium
772     Yes            1888      6057  Muscle Gain  Off Track          Basic
102     Yes            1634      2074  Weight Loss  Off Track        Premium
894     Yes            2819     13740  Maintenance  Off Track          Basic
676     Yes            2262     11871  Muscle Gain  Off Track          Basic
..      ...             ...       ...          ...        ...            ...
458      No            3334      5615  Muscle Gain  Off Track          Basic
671      No            2336      2209  Muscle Gain  Off Track        Premium
793      No            2834      7363  Maintenance   On Track        Premium
281      No            2138      7683  Muscle Gain   On Track          Basic
222      No            2516     12910  Maintenance   On Track        Premium

    Region
111   East
772  North
102   East
894   East
676  North
..     ...
458  North
671  South
793   East
281  North
222  South

[1000 rows x 15 columns]

In [20]:
res=df.sort_values('Age',ascending=False)
print(res)

    CustomerID  Age  Gender  Weight  Height   BMI  ExerciseTime Smoking  \
890   CUST1890   64    Male      70     161  27.0            14      No
917   CUST1917   64  Female      99     186  28.6           108      No
919   CUST1919   64  Female      70     186  20.2            63      No
922   CUST1922   64    Male      83     155  34.5            66      No
821   CUST1821   64    Male      59     192  16.0            91      No
..         ...  ...     ...     ...     ...   ...           ...     ...
179   CUST1179   18    Male      67     185  19.6            52      No
438   CUST1438   18    Male      64     153  27.3           115     Yes
437   CUST1437   18  Female      70     186  20.2             6      No
675   CUST1675   18    Male      54     193  14.5           114      No
484   CUST1484   18  Female      92     158  36.9            95      No

    Alcohol  CaloriesIntake  StepsDay  FitnessGoal     Status MembershipType  \
890      No            3002      6424  Weight Loss  Off Track          Basic
917      No            2033      6559  Maintenance  Off Track          Basic
919      No            2630      3513  Weight Loss  Off Track        Premium
922      No            1726      7944  Maintenance  Off Track          Basic
821      No            1826      3975  Muscle Gain  Off Track          Basic
..      ...             ...       ...          ...        ...            ...
179      No            2381      1604  Muscle Gain  Off Track          Basic
438      No            2655     10485  Weight Loss  Off Track          Basic
437      No            2673      1074  Muscle Gain  Off Track          Basic
675     Yes            2257      3178  Maintenance  Off Track        Premium
484      No            2253      5675  Maintenance  Off Track          Basic

    Region
890  South
917   West
919   West
922  South
821   West
..     ...
179   West
438  North
437  South
675   East
484  South

[1000 rows x 15 columns]

#Filtering Data

In [56]:
print(df[df['Status']=='Off Track'])

    CustomerID  Age  Gender  Weight  Height   BMI  ExerciseTime Smoking  \
0     CUST1000   56    Male      72     181  22.0            11      No
2     CUST1002   32  Female      83     165  30.5            16      No
3     CUST1003   60  Female      95     181  29.0           114      No
4     CUST1004   25    Male      83     181  25.3            18      No
5     CUST1005   38    Male      78     183  23.3            25      No
..         ...  ...     ...     ...     ...   ...           ...     ...
995   CUST1995   22    Male      61     154  25.7            79      No
996   CUST1996   40    Male      76     166  27.6            71      No
997   CUST1997   27  Female      89     169  31.2            96      No
998   CUST1998   61    Male      51     190  14.1           112     Yes
999   CUST1999   19    Male      62     195  16.3            11     Yes

    Alcohol  CaloriesIntake  StepsDay  FitnessGoal     Status MembershipType  \
0        No            2034     12940  Maintenance  Off Track        Premium
2       Yes            2816     14363  Muscle Gain  Off Track        Premium
3        No            2532      6408  Weight Loss  Off Track        Premium
4       Yes            2794      4861  Muscle Gain  Off Track          Basic
5        No            2910     14937  Muscle Gain  Off Track        Premium
..      ...             ...       ...          ...        ...            ...
995      No            2858      7957  Weight Loss  Off Track          Basic
996      No            3287      1766  Maintenance  Off Track        Premium
997     Yes            1868      3681  Muscle Gain  Off Track        Premium
998      No            3384      8710  Weight Loss  Off Track        Premium
999     Yes            3107      8482  Muscle Gain  Off Track        Premium

    Region
0     West
2    South
3     West
4    South
5    South
..     ...
995  South
996  South
997  North
998  South
999  North

[832 rows x 15 columns]

In [57]:
print(df[df['Gender']!='Male'])

     CustomerID  Age  Gender  Weight  Height    BMI  ExerciseTime Smoking  \
1      CUST1001   46  Female      75     180  23.10            69      No
2      CUST1002   32  Female      83     165  30.50            16      No
3      CUST1003   60  Female      95     181  29.00           114      No
12     CUST1012   53  Female      64     158  25.60            54      No
13     CUST1013   57  Female      78     174  25.80            99     Yes
...         ...  ...     ...     ...     ...    ...           ...     ...
987    CUST1987   28  Female      63     160  24.60            66      No
989    CUST1989   30  Female      90     196  23.40            15      No
994    CUST1994   27  Female      85     177  27.10           115      No
997    CUST1997   27  Female      89     169  31.20            96      No
1000   CUST2000   25  Female      60     165  22.04            45      No

           Alcohol  CaloriesIntake  StepsDay  FitnessGoal     Status  \
1               No            3216      9240  Weight Loss   On Track
2              Yes            2816     14363  Muscle Gain  Off Track
3               No            2532      6408  Weight Loss  Off Track
12              No            2672      8645  Muscle Gain  Off Track
13              No            2388     13018  Muscle Gain  Off Track
...            ...             ...       ...          ...        ...
987             No            2614      3860  Weight Loss  Off Track
989             No            2593     12182  Muscle Gain  Off Track
994            Yes            3124      4782  Muscle Gain  Off Track
997            Yes            1868      3681  Muscle Gain  Off Track
1000  Occasionally            1800      8000  Weight Loss     Active

     MembershipType Region
1           Premium   East
2           Premium  South
3           Premium   West
12          Premium  North
13          Premium   East
...             ...    ...
987           Basic   West
989         Premium   East
994         Premium   East
997         Premium  North
1000        Premium   East

[475 rows x 15 columns]

In [58]:
print(df[df['Weight']<=50])

    CustomerID  Age  Gender  Weight  Height   BMI  ExerciseTime Smoking  \
38    CUST1038   24  Female      50     170  17.3           108      No
277   CUST1277   41  Female      50     167  17.9            32      No
296   CUST1296   33  Female      50     191  13.7            67     Yes
302   CUST1302   31  Female      50     167  17.9            83     Yes
328   CUST1328   22  Female      50     188  14.1            12      No
363   CUST1363   39  Female      50     175  16.3            64      No
373   CUST1373   26  Female      50     163  18.8             9     Yes
393   CUST1393   40    Male      50     192  13.6           110      No
433   CUST1433   43    Male      50     186  14.5            24      No
439   CUST1439   64    Male      50     179  15.6            56      No
547   CUST1547   41    Male      50     158  20.0            60     Yes
701   CUST1701   26    Male      50     184  14.8            90      No
728   CUST1728   42  Female      50     198  12.8            68      No
781   CUST1781   32    Male      50     168  17.7            97      No
874   CUST1874   31    Male      50     159  19.8           110      No
911   CUST1911   21  Female      50     199  12.6            80      No
936   CUST1936   50  Female      50     154  21.1            77      No
944   CUST1944   47  Female      50     172  16.9            87      No

    Alcohol  CaloriesIntake  StepsDay  FitnessGoal     Status MembershipType  \
38      Yes            2457      3707  Weight Loss  Off Track        Premium
277      No            2701     11750  Muscle Gain  Off Track          Basic
296      No            3143      6956  Muscle Gain  Off Track        Premium
302      No            3376      9488  Maintenance  Off Track        Premium
328     Yes            1755      1546  Muscle Gain  Off Track        Premium
363      No            2267     14926  Weight Loss  Off Track        Premium
373      No            3118      6362  Weight Loss  Off Track          Basic
393      No            2832     12560  Weight Loss  Off Track          Basic
433      No            2060      5016  Muscle Gain  Off Track        Premium
439      No            1932     11114  Weight Loss  Off Track        Premium
547      No            2651      5651  Muscle Gain  Off Track        Premium
701     Yes            2279      6643  Weight Loss  Off Track        Premium
728      No            1932      1754  Maintenance  Off Track          Basic
781     Yes            2935      5362  Muscle Gain  Off Track          Basic
874      No            2222     14809  Maintenance   On Track          Basic
911      No            1679     11637  Maintenance  Off Track        Premium
936      No            2791      1595  Maintenance  Off Track        Premium
944      No            2859      6519  Weight Loss  Off Track          Basic

    Region
38   South
277   East
296   East
302   West
328   East
363  North
373   East
393  North
433   West
439  North
547   West
701   East
728  South
781  North
874  North
911   East
936   West
944  South

In [59]:
print(df[(df['Gender']=='Male') & (df['BMI']>14.0)])

    CustomerID  Age Gender  Weight  Height   BMI  ExerciseTime Smoking  \
0     CUST1000   56   Male      72     181  22.0            11      No
4     CUST1004   25   Male      83     181  25.3            18      No
5     CUST1005   38   Male      78     183  23.3            25      No
6     CUST1006   56   Male      53     160  20.7            47      No
7     CUST1007   36   Male      66     159  26.1           107     Yes
..         ...  ...    ...     ...     ...   ...           ...     ...
993   CUST1993   23   Male      70     188  19.8            81     Yes
995   CUST1995   22   Male      61     154  25.7            79      No
996   CUST1996   40   Male      76     166  27.6            71      No
998   CUST1998   61   Male      51     190  14.1           112     Yes
999   CUST1999   19   Male      62     195  16.3            11     Yes

    Alcohol  CaloriesIntake  StepsDay  FitnessGoal     Status MembershipType  \
0        No            2034     12940  Maintenance  Off Track        Premium
4       Yes            2794      4861  Muscle Gain  Off Track          Basic
5        No            2910     14937  Muscle Gain  Off Track        Premium
6        No            1592      8406  Weight Loss   On Track        Premium
7       Yes            3489     11372  Maintenance  Off Track        Premium
..      ...             ...       ...          ...        ...            ...
993      No            3375      4253  Muscle Gain  Off Track          Basic
995      No            2858      7957  Weight Loss  Off Track          Basic
996      No            3287      1766  Maintenance  Off Track        Premium
998      No            3384      8710  Weight Loss  Off Track        Premium
999     Yes            3107      8482  Muscle Gain  Off Track        Premium

    Region
0     West
4    South
5    South
6    North
7    South
..     ...
993   East
995  South
996  South
998  South
999  North

[520 rows x 15 columns]

In [60]:
print(df[(df['Gender']=='Male') | (df['BMI']>14.0)])

     CustomerID  Age  Gender  Weight  Height    BMI  ExerciseTime Smoking  \
0      CUST1000   56    Male      72     181  22.00            11      No
1      CUST1001   46  Female      75     180  23.10            69      No
2      CUST1002   32  Female      83     165  30.50            16      No
3      CUST1003   60  Female      95     181  29.00           114      No
4      CUST1004   25    Male      83     181  25.30            18      No
...         ...  ...     ...     ...     ...    ...           ...     ...
996    CUST1996   40    Male      76     166  27.60            71      No
997    CUST1997   27  Female      89     169  31.20            96      No
998    CUST1998   61    Male      51     190  14.10           112     Yes
999    CUST1999   19    Male      62     195  16.30            11     Yes
1000   CUST2000   25  Female      60     165  22.04            45      No

           Alcohol  CaloriesIntake  StepsDay  FitnessGoal     Status  \
0               No            2034     12940  Maintenance  Off Track
1               No            3216      9240  Weight Loss   On Track
2              Yes            2816     14363  Muscle Gain  Off Track
3               No            2532      6408  Weight Loss  Off Track
4              Yes            2794      4861  Muscle Gain  Off Track
...            ...             ...       ...          ...        ...
996             No            3287      1766  Maintenance  Off Track
997            Yes            1868      3681  Muscle Gain  Off Track
998             No            3384      8710  Weight Loss  Off Track
999            Yes            3107      8482  Muscle Gain  Off Track
1000  Occasionally            1800      8000  Weight Loss     Active

     MembershipType Region
0           Premium   West
1           Premium   East
2           Premium  South
3           Premium   West
4             Basic  South
...             ...    ...
996         Premium  South
997         Premium  North
998         Premium  South
999         Premium  North
1000        Premium   East

[989 rows x 15 columns]

In [61]:
print(df[df['CustomerID'].isin(['CUST1010','CUST1029','CUST1039','CUST1043','CUST1045'])])

   CustomerID  Age  Gender  Weight  Height   BMI  ExerciseTime Smoking  \
10   CUST1010   28    Male      90     189  25.2            95      No
29   CUST1029   44  Female      70     179  21.8            77     Yes
39   CUST1039   38    Male      87     157  35.3            34      No
43   CUST1043   21    Male      98     156  40.3           115      No
45   CUST1045   31  Female      73     193  19.6            80      No

   Alcohol  CaloriesIntake  StepsDay  FitnessGoal     Status MembershipType  \
10     Yes            1904      6285  Weight Loss  Off Track          Basic
29      No            1618     12931  Maintenance   On Track        Premium
39      No            3258      8959  Weight Loss  Off Track          Basic
43      No            2370      1922  Maintenance  Off Track        Premium
45      No            2437     11367  Muscle Gain   On Track          Basic

   Region
10  North
29   West
39  North
43   West
45  South

#Combining Data

In [21]:
print(df.head(3))

  CustomerID  Age  Gender  Weight  Height   BMI  ExerciseTime Smoking Alcohol  \
0   CUST1000   56    Male      72     181  22.0            11      No      No
1   CUST1001   46  Female      75     180  23.1            69      No      No
2   CUST1002   32  Female      83     165  30.5            16      No     Yes

   CaloriesIntake  StepsDay  FitnessGoal     Status MembershipType Region
0            2034     12940  Maintenance  Off Track        Premium   West
1            3216      9240  Weight Loss   On Track        Premium   East
2            2816     14363  Muscle Gain  Off Track        Premium  South

In [22]:
print(df.tail(2))

    CustomerID  Age Gender  Weight  Height   BMI  ExerciseTime Smoking  \
998   CUST1998   61   Male      51     190  14.1           112     Yes
999   CUST1999   19   Male      62     195  16.3            11     Yes

    Alcohol  CaloriesIntake  StepsDay  FitnessGoal     Status MembershipType  \
998      No            3384      8710  Weight Loss  Off Track        Premium
999     Yes            3107      8482  Muscle Gain  Off Track        Premium

    Region
998  South
999  North

In [23]:
#Combinig Rows
res=pandas.concat([df.head(3),df.tail(2)])
print(res)

    CustomerID  Age  Gender  Weight  Height   BMI  ExerciseTime Smoking  \
0     CUST1000   56    Male      72     181  22.0            11      No
1     CUST1001   46  Female      75     180  23.1            69      No
2     CUST1002   32  Female      83     165  30.5            16      No
998   CUST1998   61    Male      51     190  14.1           112     Yes
999   CUST1999   19    Male      62     195  16.3            11     Yes

    Alcohol  CaloriesIntake  StepsDay  FitnessGoal     Status MembershipType  \
0        No            2034     12940  Maintenance  Off Track        Premium
1        No            3216      9240  Weight Loss   On Track        Premium
2       Yes            2816     14363  Muscle Gain  Off Track        Premium
998      No            3384      8710  Weight Loss  Off Track        Premium
999     Yes            3107      8482  Muscle Gain  Off Track        Premium

    Region
0     West
1     East
2    South
998  South
999  North

In [24]:
df1=df[['Age','Gender','Weight','Height']]
df2=df[['BMI']]
print(df1)
print(df2)

     Age  Gender  Weight  Height
0     56    Male      72     181
1     46  Female      75     180
2     32  Female      83     165
3     60  Female      95     181
4     25    Male      83     181
..   ...     ...     ...     ...
995   22    Male      61     154
996   40    Male      76     166
997   27  Female      89     169
998   61    Male      51     190
999   19    Male      62     195

[1000 rows x 4 columns]
      BMI
0    22.0
1    23.1
2    30.5
3    29.0
4    25.3
..    ...
995  25.7
996  27.6
997  31.2
998  14.1
999  16.3

[1000 rows x 1 columns]

In [25]:
#combining columns
res=pandas.concat([df1,df2],axis=1)
print(res)

     Age  Gender  Weight  Height   BMI
0     56    Male      72     181  22.0
1     46  Female      75     180  23.1
2     32  Female      83     165  30.5
3     60  Female      95     181  29.0
4     25    Male      83     181  25.3
..   ...     ...     ...     ...   ...
995   22    Male      61     154  25.7
996   40    Male      76     166  27.6
997   27  Female      89     169  31.2
998   61    Male      51     190  14.1
999   19    Male      62     195  16.3

[1000 rows x 5 columns]

#Grouping Data

In [26]:
dfgroups=df.groupby('Gender')
print(dfgroups)

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x79dfdc8416d0>

In [27]:
for gr in dfgroups:
  print(gr)
  print("--------------------")

('Female',     CustomerID  Age  Gender  Weight  Height   BMI  ExerciseTime Smoking  \
1     CUST1001   46  Female      75     180  23.1            69      No
2     CUST1002   32  Female      83     165  30.5            16      No
3     CUST1003   60  Female      95     181  29.0           114      No
12    CUST1012   53  Female      64     158  25.6            54      No
13    CUST1013   57  Female      78     174  25.8            99     Yes
..         ...  ...     ...     ...     ...   ...           ...     ...
984   CUST1984   31  Female      98     168  34.7            77      No
987   CUST1987   28  Female      63     160  24.6            66      No
989   CUST1989   30  Female      90     196  23.4            15      No
994   CUST1994   27  Female      85     177  27.1           115      No
997   CUST1997   27  Female      89     169  31.2            96      No

    Alcohol  CaloriesIntake  StepsDay  FitnessGoal     Status MembershipType  \
1        No            3216      9240  Weight Loss   On Track        Premium
2       Yes            2816     14363  Muscle Gain  Off Track        Premium
3        No            2532      6408  Weight Loss  Off Track        Premium
12       No            2672      8645  Muscle Gain  Off Track        Premium
13       No            2388     13018  Muscle Gain  Off Track        Premium
..      ...             ...       ...          ...        ...            ...
984      No            1825      5864  Weight Loss  Off Track          Basic
987      No            2614      3860  Weight Loss  Off Track          Basic
989      No            2593     12182  Muscle Gain  Off Track        Premium
994     Yes            3124      4782  Muscle Gain  Off Track        Premium
997     Yes            1868      3681  Muscle Gain  Off Track        Premium

    Region
1     East
2    South
3     West
12   North
13    East
..     ...
984   East
987   West
989   East
994   East
997  North

[474 rows x 15 columns])
--------------------
('Male',     CustomerID  Age Gender  Weight  Height   BMI  ExerciseTime Smoking  \
0     CUST1000   56   Male      72     181  22.0            11      No
4     CUST1004   25   Male      83     181  25.3            18      No
5     CUST1005   38   Male      78     183  23.3            25      No
6     CUST1006   56   Male      53     160  20.7            47      No
7     CUST1007   36   Male      66     159  26.1           107     Yes
..         ...  ...    ...     ...     ...   ...           ...     ...
993   CUST1993   23   Male      70     188  19.8            81     Yes
995   CUST1995   22   Male      61     154  25.7            79      No
996   CUST1996   40   Male      76     166  27.6            71      No
998   CUST1998   61   Male      51     190  14.1           112     Yes
999   CUST1999   19   Male      62     195  16.3            11     Yes

    Alcohol  CaloriesIntake  StepsDay  FitnessGoal     Status MembershipType  \
0        No            2034     12940  Maintenance  Off Track        Premium
4       Yes            2794      4861  Muscle Gain  Off Track          Basic
5        No            2910     14937  Muscle Gain  Off Track        Premium
6        No            1592      8406  Weight Loss   On Track        Premium
7       Yes            3489     11372  Maintenance  Off Track        Premium
..      ...             ...       ...          ...        ...            ...
993      No            3375      4253  Muscle Gain  Off Track          Basic
995      No            2858      7957  Weight Loss  Off Track          Basic
996      No            3287      1766  Maintenance  Off Track        Premium
998      No            3384      8710  Weight Loss  Off Track        Premium
999     Yes            3107      8482  Muscle Gain  Off Track        Premium

    Region
0     West
4    South
5    South
6    North
7    South
..     ...
993   East
995  South
996  South
998  South
999  North

[526 rows x 15 columns])
--------------------

In [28]:
print(df['Gender'].value_counts())

Gender
Male      526
Female    474
Name: count, dtype: int64

In [34]:
print(df['Region'].value_counts().head(2))

Region
North    300
West     243
Name: count, dtype: int64

In [35]:
print(df['MembershipType'].value_counts())

MembershipType
Basic      502
Premium    498
Name: count, dtype: int64

#Inserting Data

In [41]:
new_data = {
    'CustomerID': ['CUST2000'],
    'Age': [25],
    'Gender': ['Female'],
    'Weight': [60],
    'Height': [165],
    'BMI': [22.04],
    'ExerciseTime': [45],
    'Smoking': ['No'],
    'Alcohol': ['Occasionally'],
    'CaloriesIntake': [1800],
    'StepsDay': [8000],
    'FitnessGoal': ['Weight Loss'],
    'Status': ['Active'],
    'MembershipType': ['Premium'],
    'Region': ['East']
}
new_df = pandas.DataFrame(new_data)
try:
    df = pandas.read_csv(url)
    df = pandas.concat([df, new_df], ignore_index=True)
except FileNotFoundError:
    df = new_df

df.to_csv(url, index=False)

print("New data inserted successfully!")

New data inserted successfully!

In [42]:
print(df)

     CustomerID  Age  Gender  Weight  Height    BMI  ExerciseTime Smoking  \
0      CUST1000   56    Male      72     181  22.00            11      No
1      CUST1001   46  Female      75     180  23.10            69      No
2      CUST1002   32  Female      83     165  30.50            16      No
3      CUST1003   60  Female      95     181  29.00           114      No
4      CUST1004   25    Male      83     181  25.30            18      No
...         ...  ...     ...     ...     ...    ...           ...     ...
996    CUST1996   40    Male      76     166  27.60            71      No
997    CUST1997   27  Female      89     169  31.20            96      No
998    CUST1998   61    Male      51     190  14.10           112     Yes
999    CUST1999   19    Male      62     195  16.30            11     Yes
1000   CUST2000   25  Female      60     165  22.04            45      No

           Alcohol  CaloriesIntake  StepsDay  FitnessGoal     Status  \
0               No            2034     12940  Maintenance  Off Track
1               No            3216      9240  Weight Loss   On Track
2              Yes            2816     14363  Muscle Gain  Off Track
3               No            2532      6408  Weight Loss  Off Track
4              Yes            2794      4861  Muscle Gain  Off Track
...            ...             ...       ...          ...        ...
996             No            3287      1766  Maintenance  Off Track
997            Yes            1868      3681  Muscle Gain  Off Track
998             No            3384      8710  Weight Loss  Off Track
999            Yes            3107      8482  Muscle Gain  Off Track
1000  Occasionally            1800      8000  Weight Loss     Active

     MembershipType Region
0           Premium   West
1           Premium   East
2           Premium  South
3           Premium   West
4             Basic  South
...             ...    ...
996         Premium  South
997         Premium  North
998         Premium  South
999         Premium  North
1000        Premium   East

[1001 rows x 15 columns]

#Joining

In [49]:
url1 = "https://raw.githubusercontent.com/sohamglobal/datasets/main/fitnessdata.csv"
df1 = pandas.read_csv(url1)
print(df1)

    Age  Weight  ExerciseTime FitnessLevel
0    25      68            45          Fit
1    32      75            20        Unfit
2    28      70            50          Fit
3    45      82            15        Unfit
4    23      60            60          Fit
5    34      85            10        Unfit
6    29      72            40          Fit
7    40      90            25        Unfit
8    22      58            55          Fit
9    37      88            30        Unfit
10   31      77            35          Fit
11   50      95            20        Unfit
12   27      65            50          Fit
13   42      80            15        Unfit
14   30      68            45          Fit
15   36      84            25        Unfit
16   24      62            60          Fit
17   39      89            20        Unfit
18   26      70            50          Fit
19   44      92            15        Unfit
20   33      78            40          Fit
21   48      87            20        Unfit
22   21      59            55          Fit
23   35      82            30        Unfit
24   29      66            45          Fit
25   41      88            15        Unfit
26   23      61            60          Fit
27   38      90            25        Unfit
28   28      67            50          Fit
29   46      91            20        Unfit
30   32      74            40          Fit
31   49      93            10        Unfit
32   24      60            55          Fit
33   37      86            20        Unfit
34   27      64            50          Fit
35   43      89            15        Unfit
36   25      69            45          Fit
37   39      85            20        Unfit
38   26      63            55          Fit
39   45      92            10        Unfit
40   30      71            50          Fit
41   47      94            15        Unfit
42   22      59            60          Fit
43   40      90            20        Unfit
44   28      65            45          Fit
45   44      88            10        Unfit
46   31      72            50          Fit
47   36      83            20        Unfit
48   23      60            60          Fit
49   42      87            15        Unfit

In [53]:
res=df.merge(df1,on="ExerciseTime",how="inner")
print(res[['BMI','Status','FitnessLevel']])

       BMI     Status FitnessLevel
0    23.30  Off Track        Unfit
1    23.30  Off Track        Unfit
2    23.30  Off Track        Unfit
3    22.70  Off Track          Fit
4    22.70  Off Track          Fit
..     ...        ...          ...
430  22.04     Active          Fit
431  22.04     Active          Fit
432  22.04     Active          Fit
433  22.04     Active          Fit
434  22.04     Active          Fit

[435 rows x 3 columns]

In [54]:
res=df.merge(df1,on="ExerciseTime",how="left")
print(res[['BMI','Status','FitnessLevel']])

        BMI     Status FitnessLevel
0     22.00  Off Track          NaN
1     23.10   On Track          NaN
2     30.50  Off Track          NaN
3     29.00  Off Track          NaN
4     25.30  Off Track          NaN
...     ...        ...          ...
1340  22.04     Active          Fit
1341  22.04     Active          Fit
1342  22.04     Active          Fit
1343  22.04     Active          Fit
1344  22.04     Active          Fit

[1345 rows x 3 columns]

In [55]:
res=df.merge(df1,on="ExerciseTime",how="right")
print(res[['BMI','Status','FitnessLevel']])

      BMI     Status FitnessLevel
0    17.6  Off Track          Fit
1    17.1  Off Track          Fit
2    30.0  Off Track          Fit
3    35.8  Off Track          Fit
4    16.6  Off Track          Fit
..    ...        ...          ...
430  14.7  Off Track        Unfit
431  31.6  Off Track        Unfit
432  38.1  Off Track        Unfit
433  21.9  Off Track        Unfit
434  23.4  Off Track        Unfit

[435 rows x 3 columns]